body {
    margin: 0px;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#my_work h1 {
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin-top: 30%;
    color: black;
}

section img {
    width: 100%;
}

figure {
    margin: 20px;
    margin-bottom: 80px;  
}

figure a {
    opacity: 1;
    transition: opacity 1s;
}

figure a:hover {
    opacity: 0.6;
    transition: opacity 1s;
}

#my_work {
    width: 100%;
    height: 100%;
    padding-bottom: 10%;
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, .1);
}

#my_work h1 {
    width: 100%;
    text-align: center;
    padding-bottom: 5%;
}

#my_work ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

#my_work ul h2 {
    margin: 10px 0;
    text-align: left;
}

#my_work ul h3 {
    font-size: 15px;
    font-weight: normal;
    color: grey;
    margin: 10px 0;
}

#my_work a {
    font-size: 16px;
    font-weight: bold;
    color: #1c1c1c;
    text-decoration: none;
}

#my_work a:hover {
    text-decoration: underline;
}

#my_work img {
    margin-right: 10px;
    transition: margin-right 1s;
}

#my_work img:hover {
    margin-right: 100px;
    transition: margin-right 1s;

}


@media (min-width: 600px) {
    
    main a {
        font-size: 21px;  
    }

    
    #my_work h1 {
        font-size: 25px;
        margin-top: 20%;
    }
    
}


@media (min-width: 800px) {
    
    #my_work h1 {
    font-size: 25px;
    margin-top: 15%;
    }
    
    #my_work ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    }
    
    #my_work ul li {
    width: 45%;

    }

}


@media (min-width: 1100px) {
    
    #my_work h1 {
    font-size: 30px;
    margin-top: 12%;
    }
    
    #my_work ul li {
    width: 30%;

    }
 

}