@import url('https://fonts.googleapis.com/css?family=Roboto');
$mytype: 'Roboto', sans-serif;
$brandcolor: red;

body {
    font-family: $mytype;
    background-color: yellow;
}


a,
h2 {
    color: $brandcolor;
}

.post-list {
    list-style: none;
    a {
        color: green;
    }
}
