body {
    margin: 0px;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

header {
    height: 100vh;
    width: 100%;
    background: url(/assets/images/teste_4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

div {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    /*background-color: whitesmoke;
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, .1);*/
}

div span {
    margin: 20px;
}

.logo {
    display: block;
    width: 80px;
    height: 40px;
    background: url(/assets/images/Signature_of_Vishwanathan_Anand.png);
    background-size: contain;
    background-repeat: no-repeat;
}

nav {
    height: 10%;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    right: 15px;
    top: 10px;
}

nav ul li {
    float: left;
    list-style: none;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 13px;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    color: black;
    transition: 0.2s;
}

nav a:hover {
    opacity: 0.5;
    transition: 0.2s;
 

}

header article {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

article h1 {
    font-size: 26px;
    text-align: center;
    width: 300px;
}

article p {
    width: 280px;
    font-size: 14px;
    text-align: center;
    line-height: 2;
    margin-top: 0px;
}


.arrow {
    width: 8%;
    height: 30px;
    background: url(/assets/images/arrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 46.5%;
    top: 85%;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#my_work h1 {
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin-top: 30%;
    color: black;
}

section img {
    width: 100%;
}

figure {
    margin: 20px;
    margin-bottom: 80px;
}

#my_work {
    width: 100%;
    height: 100%;
    padding-bottom: 10%;
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, .1);
}

#my_work h1 {
    width: 100%;
    text-align: center;
    padding-bottom: 5%;
}

#my_work ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

#my_work ul h2 {
    margin: 10px 0;
    text-align: left;
}

#my_work ul h3 {
    font-size: 15px;
    font-weight: normal;
    color: grey;
    margin: 10px 0;
}

#my_work a {
    font-size: 16px;
    font-weight: bold;
    color: #1c1c1c;
    text-decoration: none;
}

#my_work a:hover {
    text-decoration: underline;
}

#my_work img {
    margin-right: 10px;
    transition: margin-right 1s;
}

#my_work img:hover {
    margin-right: 100px;
    transition: margin-right 1s;

}

#contacts {
    width: 100%;
    height: 100%;
    padding-bottom: 10%;
    background-color: #1c1c1c;
}

footer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

footer h1 {
    flex-direction: column;
    width: 280px;
    text-align: left;
    font-size: 18px;
    margin-top: 10%;
    color: white;
}

footer p {
    width: 280px;
    font-size: 14px;
    color: white;
    text-align: left;
}


@media (min-width: 600px) {
    
    .logo {
    width: 120px;
    height: 50px;
    }
    
    header {
    width: auto;
    background: url(/assets/images/boost_medio_pequeno.jpg);    
    }
    
    header nav ul li {
        font-size: 16px;
        padding-right: 12px;
        padding-left: 12px;
    }

    article h1 {
        font-size: 38px;
        text-align: left;
        width: 350px;
    }

    article p {
        width: 350px;
        font-size: 17px;
        text-align: left;
        line-height: 2;
    }
    
    .arrow {
        width: 8%;
    }
    
    main a {
        font-size: 21px;  
    }

    
    #my_work h1 {
        font-size: 25px;
        margin-top: 20%;
    }

    #contacts h1 {
        width: 480px;
        font-size: 25px;
    }

    #contacts p {
        width: 480px;
        font-size: 16px;
    }

}


@media (min-width: 800px) {
    
    header {
    width: auto;
    background: url(/assets/images/boost_medio.jpg);    
    }
    
    header article {
        align-items: flex-start;
    }
    
    article h1 {
        margin-left: 10%;
    }

    article p {
        width: 400px;
        margin-left: 10%;
    }
    
    .arrow {
        width: 8%;
    }
    
    #my_work h1 {
    font-size: 25px;
    margin-top: 15%;
    }
    
    #my_work ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    }
    
    #my_work ul li {
    width: 45%;

    }

    #contacts h1 {
        width: 680px;
        font-size: 25px;
        margin-top: 11%;
    }

    #contacts p {
        width: 680px;
        font-size: 16px;
    }

}


@media (min-width: 1100px) {
    div span {
        margin-left: 25px;
    }
    
    header nav ul li {
        font-size: 16px;
        padding-right: 16px;
        padding-left: 16px;
    }

    article h1 {
        width: 340px;
        font-size: 40px;
        margin-left: 6%;
    }

    article p {
        width: 450px;
        font-size: 20px;
        margin-left: 6%;
    }
    
    #my_work h1 {
    font-size: 30px;
    margin-top: 12%;
    }
    
    #my_work ul li {
    width: 30%;

    }
 

    footer {
        display: flex;
        align-items: flex-start;
    }

    #contacts h1 {
        width: 780px;
        font-size: 30px;
        margin-left: 7%;
        margin-top: 8%;
    }

    #contacts p {
        width: 780px;
        font-size: 18px;
        margin-left: 7%;
    }

}


@media (min-width: 1280px) {
    
    header {
    width: auto;
    background: url(/assets/images/teste_4.jpg);    
    }
    
    #contacts h1 {
        font-size: 30px;
    }
}