@import "variables";

#posts {

    display: flex;
    flex-direction: column;
    
    figure {
        display: flex;
        justify-content: center;
        margin: 0;
    }
    
    img {
        width: 93%;
        padding-top: 7%;
    }
    
    .top_image {
        margin-top: 25%;
        width: 100%;
        padding-top: 0;
    }
    
    h1, h2, p {
        max-width: 700px;
        padding-left: 7%;
        padding-right: 7%;
    }
    
    h1 {
        font-size: 18px;
        font-weight: bold;
        text-align: left;
        padding-top: 13%;
        margin: 0;
    }
    
    h2 {
        font-size: 16px;
        font-weight: normal;
        text-align: left;
        padding-top: 3%;
        margin: 0;
        color: $subtitlecolor;
    }
    
    h3 {
        width: 100%;
        font-size: 14px;
        font-weight: normal;
        text-align: center;
        padding-top: 7%;
        margin: 0;
        color: $subtitlecolor;
    }
    
    p {
        font-size: 16px;
        text-align: left;
        line-height: 2;
    }
    
    p:first-of-type {
        margin-top: 10%;
    }
    
    figure:last-of-type {
        margin-bottom: 30%;
    }
    
    h1:nth-of-type(2) {
        padding-bottom: 3%;
    }
}
 
 
@media (min-width: 480px) {
    #posts {
        
       .top_image {
            margin-top: 18%;
        } 
    }  
}

@media (min-width: 600px) {
    #posts {
        
       .top_image {
            margin-top: 15%;
        } 
    }   
}

@media (min-width: 800px) {
    #posts {
    
        .top_image {
            margin-top: 10%;
        }
        
        h1 {
            font-size: 22px;
            padding-top: 10%;
        }
        
        h2 {
            font-size: 18px;
        }
        
        p {
            max-width: 700px;
        }
        
        p:first-of-type {
            margin-top: 7%;
        }
        
        figure:last-of-type {
            margin-bottom: 20%;
        }   
    }     
}

@media (min-width: 1100px) {
    #posts {
    
        .top_image {
            margin-top: 8%;
        }
        
        h1 {
            font-size: 25px;
            padding-top: 8%;
        }
        
        h2 {
            padding-top: 2%;
        } 
        
        h3 {
            font-size: 16px;
        } 
        
        p {
            font-size: 18px;
            line-height: 2.2;
        }
        
        p:first-of-type {
            margin-top: 5%;
        } 
    }     
}


@media (min-width: 1280px) {
    #posts {
    
        .top_image {
            margin-top: 7%;
        }
        
        h1 {
            font-size: 32px;
        }
        
        h2 {
            font-size: 22px;
        }
        
        h3 {
            font-size: 18px;
        }
        
        p {
            font-size: 20px;
        }
    } 
}
