---
layout: default
---


<section id="my_work">
    <h1>My Work</h1>
    <ul>
        <li>
            <img src="assets/images/NR1.jpg" alt="multimedia publication">
            <h2>Neon Rose, 2017</h2>
            <p>This was a multimedia publication that was developed as a group project about the sixties counterculture and the Free Speech Movement. We tried to show how those revolutions are affecting our youth and the way they choose to protest and claim their rights nowadays.</p>
        </li>
        <li>
            <img src="assets/images/typography.jpg" alt="two flyers">
            <h2>First Things First, 2016</h2>
            <p>First Things First is a typographic experiment that I did based on the First Things First manifesto, from 1964. I created two posters with one of the main teachings of the manifesto using only typography.</p>
        </li>
        <li>
            <img src="assets/images/MG1.jpg" alt="multimedia publication">
            <h2>Inner City Blues, 2017</h2>
            <p>This was another multimedia publication that was developed as a group project, once again about the sixties counterculture. This time we were challenged to create a "mixtape for revolution" - songs with a revolutionary purpose - and then create a publication around it.</p>
        </li>
        <li>
            <img src="assets/images/sopa.jpg" alt="illustration book">
            <h2>Receita da Sopa da Pedra, 2016</h2>
            <p>For this project I took a classic children's tale - Sopa da Pedra - and created illustrations for it. When designing the book I decided to give it a little twist to make it more fun to read and turned it into a make-believe recipe book.</p>
        </li>
        <li>
            <img src="assets/images/DP.jpg" alt="booklet and flyer">
            <h2>Design Português - pós-revolução, 2017</h2>
            <p>This group project is about the History of Design. My group and I decided to explore Portuguese Design - where did it come from? when was it born? who are the main references? - We ended up focusing on Designer José Brandão and Professor Aurelindo Jaime Ceia.</p>
        </li>
        <li>
            <iframe src="https://www.youtube.com/embed/oXSdsBbWb2k" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h2>No Big Deal, 2018</h2>
            <p>No Big Deal is a Web App that I created and designed as a project for my post-graduation in Digital Experience Design. It's purpose is to allow people who need certain everyday tasks done for them, and people with some spare time and in need of some money, to find and help each other out.</p>
        </li>
    </ul>
    <a href="https://drive.google.com/file/d/1FRk6jch0pCf1kyv0crg7RhHw2TpkiO92/view">Download my complete portfolio here!</a>
</section>
